<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-700 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6 bg-red-600">
    <div class="text-center flex justify-between" >
      <h3
          class="font-semibold text-lg text-white text-xl font-bold"
        >
          NEW PROJECT
        </h3>
    </div>
  </div>
  <br>

  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form>

      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-white text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Project Name
            </label>
            <input
            type="text"
            class="border-0 px-3 py-3  placeholder-blueGray-300 text-blueGray-600 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Project Name"
            [(ngModel)]="project.name"
            name="name"
            required
            minlength="5"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-white text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Location
            </label>
            <input
            type="text"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            value="Location"
            placeholder="Location"
            [(ngModel)]="project.location"
            name="location"
            required
            minlength="5"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-white text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Estimated Cost
            </label>
            <input
            type="text"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Estimated Cost"
            [(ngModel)]="project.estimatedCost"
            name="estimatedCost"
            required
            minlength="5"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-white text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Estimated end date
            </label>
            <input
            type="date"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            value=" estimatedEndDate"
            placeholder="Estimated end date"
            [(ngModel)]="project.estimatedEndDate"
            name="estimatedEndDate"
            required
            />
          </div>
        </div>
      </div>




      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-white text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Description
            </label>
            <textarea
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              rows="4"
              placeholder="Description"
              [(ngModel)]="project.description"
              required
            >
            Description
                </textarea
            >
            <hr class="mt-6 border-b-1 border-blueGray-300" />







              <label
              class="block uppercase text-xs font-bold mb-2 text-white"
              htmlFor="grid-password">
            Files Section
            </label>
            <button

            class="bg-white text-red-600 active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
          >
            Add Files
          </button>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
<br>




          <button
          id="registerButton"
          class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          href="javascript:void(0)"
            (click)="AddProject()"
            [routerLink]="['/admin/settings']"

          >
           Create Project
        </button>
        </div>
      </div>
    </form>
  </div>
</div>
