<div>
  <app-sidebar></app-sidebar>
  <div class="relative md:ml-64 bg-blueGray-100">
    <app-admin-navbar></app-admin-navbar>
    <app-header-stats></app-header-stats>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">

<div class="flex flex-wrap">
  <div class="w-full mb-12 px-4">
    <app-card-table color="dark"></app-card-table>
  </div>
  <div class="w-full lg:w-8/12 px-4">
    <app-card-update-project></app-card-update-project>
  </div>
  <div class=" lg:w-4/12 px-4 bg-blueGray-700 border-0shadow-lg rounded-lg"
  style="height:300px;">

    <app-card-affectemp></app-card-affectemp>
  </div>

  <div class=" lg:w-4/12 px-4 bg-blueGray-700 border-0shadow-lg rounded-lg"
  style="height:300px;">

    <app-card-affectemp></app-card-affectemp>
  </div>
</div>
<app-footer-admin></app-footer-admin>
</div>
</div>
</div>
absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px
